# My personal stuff
Orga/
Code/Course_Chris_Jackett/
Code/Optuna/
API_TOKEN.txt
/Literature

# No trials or runs
Trials/
runs/
logs/


# No Annotation sets
Annotation_Sets/
annotation_set.json
*/Full_Annotation_List.csv
/Code/PyTorch/Annotation_Sets/


# No images
images_*/
*.jpg
**/*images/

# Special exception
test.csv
id_list.txt
rest_id_list.txt
Code/SQ/
*/__pycache__/*
Code/Squidle/models/
Data/
IMAS-Light()

