# My personal stuff
Orga/
Code/Course_Chris_Jackett/
Code/Optuna/
API_TOKEN.txt

# No trials or runs
Trials/
runs/


# No Annotation sets
Annotation_Sets/
annotation_set.json
*/Full_Annotation_List.csv

# No images
images_*/
*.jpg
**/*images/

# Special exception
test.csv
id_list.txt
rest_id_list.txt

