Orga/
images_*/
images/
Optuna/optuna-examples/
Ecklonia_dataset/
sqbot/
API_TOKEN.txt
Trials/
models/
runs/
Ecklonia_Mix/
test.csv
id_list.txt
rest_id_list.txt
annotation_set.json
Full_Annotation_List.csv
